<div class="module-nav">
  <div class="module-navigation">
    <div class="header">
      <div class="projectName">project name</div>
      <div class="actions">
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
      </div>
    </div>
  </div>
  <div class="issue-list">
    <app-issue-list [list]="issueList"></app-issue-list>
  </div>
</div>
