<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="nav">
    <mat-list>
      <mat-list-item>

      </mat-list-item>
      <app-nav-button [icon]="'assignment'"></app-nav-button>
      <app-nav-button [icon]="'add'"></app-nav-button>
      <app-nav-button [icon]="'add'"></app-nav-button>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-issue-list [list]="issueList" (emitter)="onEmitter($event)" [projectId]="oldId"></app-issue-list>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <div class="module-nav">
  <div class="module-navigation">
    <div class="header">
      <div class="project-select">
        <app-search-select [close]="closeChild">
          <div header>
            <div class="header">{{'issue.selectProject' | translate}}</div>
          </div>
          <div body>
            <div class="body-popup">
              <div class="options" *ngFor="let project of projects | async">
                <div [class]="project.id === oldId ? 'project-container-active' :  'project-container'"
                  (click)="selectProject(project.id)">
                  <div class="project">
                    <span class="name">{{project.name}}</span>
                    <span class="alias">{{project.alias}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-search-select>
      </div>
      <div class="actions">
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
        <div class="search">Search</div>
      </div>
    </div>
  </div>
  <div class="issue-list">
    <app-issue-list [list]="issueList" (emitter)="onEmitter($event)" [projectId]="oldId"></app-issue-list>
  </div>
</div> -->
