<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="nav">
    <mat-list>
      <app-nav-button routerLink="/issues" routerLinkActive="active" [icon]="'assignment'"></app-nav-button>
      <app-nav-button routerLinkActive="active" routerLink="/" [icon]="'add'"></app-nav-button>
      <app-nav-button routerLinkActive="active" routerLink="/" [icon]="'add'"></app-nav-button>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <div class="nav">
  <div class="nav-container">
    <div class="buttons">
      <div class="authorized" [hidden]="!isAuthorized()">
        <div class="button add" routerLink="/issues">
          <app-nav-button [icon]="'tasks'"></app-nav-button>
        </div>
        <div class="button search">
          <app-nav-button [icon]="'search'"></app-nav-button>
        </div>
        <div class="button plus" (click)="createNew()">
          <app-nav-button [icon]="'plus'"></app-nav-button>
        </div>
        <div class="button logout" (click)="logout()">
          <app-nav-button [icon]="'sign-out'"></app-nav-button>
        </div>
      </div>
      <div class="unauthorized" [hidden]="isAuthorized()">
        <div class="button login" routerLink="/login">
          <app-nav-button [icon]="'sign-in'"></app-nav-button>
        </div>
      </div>
    </div>
    <app-change-lang></app-change-lang>
  </div>
  <div class="container">
    <app-add-project-modal></app-add-project-modal>

    <router-outlet></router-outlet>
  </div>
</div> -->
