<div class="nav">
  <div class="nav-container">
    <div class="buttons">
      <div class="authorized" [hidden]="!isAuthorized()">
        <div class="button add" routerLink="/issues">
          <app-nav-button [icon]="'plus'"></app-nav-button>
        </div>
        <div class="button search">
          <app-nav-button [icon]="'search'"></app-nav-button>
        </div>
      </div>
      <div class="unauthorized" [hidden]="isAuthorized()" >
        <div class="button login" routerLink="/login">
          <app-nav-button [icon]="'sign-in'"></app-nav-button>
        </div>
      </div>
    </div>
    <app-change-lang></app-change-lang>
  </div>
  <div class="container">

    <router-outlet></router-outlet>
  </div>
</div>
