.nav {
  height: 100%;
  position: fixed;

  .nav-container {
    height: 100%;
    width: 90px;
    float: left;
    background-color: rgba($color: #CCFF90, $alpha: 1.0);
    align-content: center;
    box-shadow: 0px 0px 5px 5px #a0a0a0;

    .buttons {
      text-align: center;


      .button {
        height: 46px;
        margin-bottom: 8px;
        margin-top: 8px;
        text-align: -webkit-center;
      }
    }

    .nav-button {
      height: 50px;

    }
  }

  .container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
