.issue-item {
  width: 600px;
  margin: 5px 0px 5px 0px;
  background-color: #fff;
  color: black;

  .title {
    width: 100%;
    color: #C3073F;
  }
}


// $darkColor: #1A1A1D;
// $greyColor: #4E4E50;
// $darkRedColor: #6F2232;
// $mediumRedColor: #950740;
// $redColor: #C3073F;

// .issue-item {
//   height: 80px;
//   width: 800px;
//   background-color: #ffffff;
//   // -webkit-box-shadow: 10px -16px 61px 13px rgba(0, 0, 0, 0.31);
//   // -moz-box-shadow: 10px -16px 61px 13px rgba(0, 0, 0, 0.31);
//   box-shadow: 0px 0px 50px 0px rgba(#4E4E50, 0.2);
//   border: 0;
//   border-radius: 5px;
//   margin: 5px;

//   .issue-box {
//     padding: 15px;

//     .issue-header {
//       height: 40px;
//       width: 100%;

//       div {
//         float: left;
//         width: fit-content;
//       }

//       .issue-priority {
//         padding: 5px;
//       }

//       .issue-title {
//         font-size: 18px;
//         font-weight: bold;
//         color: $redColor;
//       }

//       .issue-number {
//         font-size: 12px;
//         color: $greyColor;
//         padding-left: 20px;
//       }

//       .issue-date {
//         font-size: 12px;
//         color: $greyColor;
//         float: right;
//         right: 40px;
//       }
//     }

//     .issue-description {
//       color: $darkColor;
//     }
//   }

//   &:hover {
//     background-color: rgb(236, 236, 240);
//   }
// }
