/* You can add global styles to this file, and also import other style files */
$darkColor: #1A1A1D;
$greyColor: #4E4E50;
$darkRedColor: #6F2232;
$mediumRedColor: #950740;
$redColor: #C3073F;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  ;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}
